/*
En este CSS:
Estilos generales
Estilos para index.html
Estilos para nosotros.html
Estilos para productos.html
Estilos para politicas.html
Estilos para contacto.html
*/

/* estilos generales*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(238, 234, 227);    
}

footer{
    margin: 5%;    
    border-radius: 2%;    
}

.final{
    margin: 5px;
    
    text-align: center;
}

.redes{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.icono{
    margin: 32px;
    height: 40%;
    width: 40%;
    transition: height 2s; width: 1s;    
}

.icono:hover{
    height: 50%; width: 50%;
}



/*aplico estilo a los html*/

/*estilo para index.html*/

main{
    padding: 1%;
    margin: 1%;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-items: center;
}

.cuerpo-index{
    height: 88%;
}

.cuotas{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.img-index{
    height: 100%;
    margin: 5px;
    padding: 5px;
    display: grid;
    justify-items:center;
    gap: 10px;
}

/*estilo para nosotros.html*/

.cuerpo-nosotros, .cuerpo-nos{  
    margin: 15px;
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}

.vista{
    display: block;
    margin: auto;
    max-width: 70%;    
}

.mapa{
    margin: 3%;
}

/*estilo para productos.html*/

.imagenes-prod{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
}

.cuerpo-prod{
    margin: 2%;
    width: 90%;
    display: grid;
}

.recien{
    margin: 5%;
}

/*estilo para politicas.html*/

.politicas{
    margin: 20px;
    padding: 15px; 
}

p{
    margin: 2px;
    text-align: justify;
    font-weight: normal;
}

/*estilo para contactanos.html*/

.contactanos{    
    margin: 5px;
    padding: 10px;   
}

.contacto{
    margin: 7px;
    padding: 7px;
    text-align: left;
}


/*----------------------*/


/* Declaración de areas */



nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

.img-index, .productos, .nosotros, .politicas, .contactanos{
    grid-area: cuerpo;
}

.img-cat{
    grid-area: img1;
}

.img-prod{
    grid-area: img2;
}

footer{
    grid-area: footer;
}



/*definición de áreas*/

/*.body{
    display: grid;
    grid-template-areas:
        "nav"
        "main"
        "cuerpo"
        "footer";
}*/

/*.img-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap:5px;    
}*/

/*@media (min-width:480px){
    .envoltura{
        width: 90%;
        height: 90%;
        grid-template-areas:
        "nav"     "nav"
        "cuerpo"  "cuerpo"
        "img1"    "img2"
        "footer"  "footer";
    }
}
*/

