
/*
Estilos generales
Estilo para index.html
Estilo para nosotros.html
Estilo para productos.html
Estilo para politicas.html
Estilo para contacto.html
*/

/* estilos generales*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(238, 234, 227);
}

footer{
    margin: 5%;
    border: 2px solid black;
    border-radius: 2%;    
}

.final{
    margin: 5px;
    
    text-align: center;
}

.redes{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;    
}

.icono{
    margin: 15px;
    height: 50px;    
}




/*aplico estilo a los html*/

/*estilo para index.html*/

main, .contacto{
    margin: 7px;
    padding: 7px;
    text-align: left;
    
}

.cuotas{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.img-index{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 25px;
    justify-items:center;
}


/*estilo para nosotros.html*/

.cuerpo-nosotros{  
    margin: 15px;
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}

.vista{
    display: block;
    margin: auto;
    max-width: 70%;    
}

.mapa{
    margin: 3%;
}






/*estilo para productos.html*/

.imagenes-prod{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cuerpo-prod{
    margin: 2%;
    width: 90%;
    display: grid;
}

.recien{
    margin: 5%;
}



/*estilo para politicas.html*/

.politicas{
    margin: 20px;
    padding: 15px; 
}

p{
    margin: 2px;
    text-align: justify;
    font-weight: normal;
}


/*estilo para contactanos.html*/

.contactanos{    
    margin: 5px;
    padding: 10px;
    
}



/* Declaración de areas */


nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

.img-index{
    grid-area: cuerpo;
}

.final{
    grid-area: final;
}

footer{
    grid-area: footer;
}




    /*definición de áreas*/


.envoltura{
    margin: 0;
    display: grid;
    gap: 5px;
    grid-template-areas:
        "nav"
        "main"
        "cuerpo"
        "final"
        "footer";
    }

.img-cat{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 5px;
}*/

/*@media (min-width:480px){
    body{
        margin: 0;
        
        grid-template-areas:
        "nav    nav"
        "main   main"
        "cuerpo cuerpo"
        "final  cuerpo"
        "footer footer";
    }
}*/

.img-index{
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 2fr;
    gap: 5px;
}