*{
    margin: 0;
    padding: 0;
}

/* doy estilo al html*/

body{
    display: flex;
    flex-direction: column;
    
}

header{
    display: grid;
    justify-content: center;
}

main{
    margin: 7px;
    padding: 7px;
    text-align: center;
}

.img-index{
    margin: 5px;
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: 1fr;
    gap: 15px;
    justify-items:center;
}

.final{
    margin: 5px;
    flex-direction: centre;
    text-align: center;
}

.redes{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icono{
    margin: 15px;
    height: 50px;    
}





    /* Declarar las 5 areas */


nav{
    grid-area: nav;
}

main{
    grid-area: main;
}

.imagenes-index{
    grid-area: cuerpo;
}

.final{
    grid-area: final;
}

footer{
    grid-area: footer;
}





    /*definición de áreas*/

@media only screen and (min-width: 480px){

.envoltura{
    margin: 0;
    display: grid;
    gap: 5px;
    grid-template-areas:
        "nav"
        "main"
        "cuerpo"
        "final"
        "footer";
        grid-template-columns: 1fr;
    }
}

.img-index{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
}

/*lo he intentado todo y no puedo hacer que funcione*/
@media screen and (min-width: 768px){

    .envoltura{
        margin: 0;
        display: grid;
        grid-template-areas:
        "nav    nav"
        "main   main"
        "cuerpo cuerpo"
        "final  cuerpo"
        "footer footer";
        grid-template-columns: 1fr 1fr;
    }
}

.img-index{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2fr;
    gap: 10px;
    
}





/*estilos para los otros html*/

/*estilo para productos.html*/

.cuerpo-prod{
    margin: 15px 5px 15px 5px;
    width: 150%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imagenes.prod{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*estilo para nosotros.html*/

.cuerpo-nosotros{
    margin: 15px;
    display: flex;
    flex-direction: column;
}

p{
    text-align: justify;
}


/*estilo para politicas.html*/

.politicas{
    margin: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/*estilo para contactanos.html*/

.contactanos{
    margin: 5px;
    padding: 10px;
}